.touxiang {
  text-align: center;
}
.kuang {
  background-color: #ffd8d8;
  width: 100%;
  height: 150px;
  resize: none;
}

.riji {
  background-color: aqua;
}
.nqzq {
  color: rgb(255, 0, 0);
  cursor: pointer;
}
